DEBUG=false

ENVIRONMENT=LOCAL

APP_NAME=tennant middleware
APP_VERSION=0.1.0
APP_HOST=http://0.0.0.0:5000

LOG_LEVEL=info
LOG_FORMAT=%(asctime)s %(levelname)s %(trace_id)s: %(message)s
LOG_BUFFER_SIZE=1024
LOG_FLUSH_INTERVAL=0.5

CORS_ORIGINS='["http://0.0.0.0:5000"]'
CORS_METHODS='["*"]'
CORS_HEADERS='["*"]'

PG_DSN=postgresql+asyncpg://tennant-middleware:tennant-middleware@tennant-middleware_pg:5432/tennant-middleware
TEST_PG_DSN=postgresql+asyncpg://tennant-middleware:tennant-middleware@tennant-middleware_pg:5432/tennant-middleware_test

TRACE_HEADER_NAME=x-trace-id

SENTRY_DSN=
SENTRY_DEBUG_PATH=/api/0/_/sentry

SECRET_KEY=secret
JWT_SECRET=jwt_secret
